<div class="products">
    <div class="container">
        <div class="products-body">
            <div class="products__column">
                <div class="products-item">
                    <a href="#" class="products-item__image ibg">
                        <img src="static/products/01.jpg" alt="Product 1">
                    </a>
                    <a href="#" class="products-item__title">Corporate
                        catering</a>
                    <div class="products-item__text">We are able to serve events from 2 to 2000 guests and always
                        reasonable prices.
                    </div>
                    <p><a href="#" class="products-item__btn btn">Get a quote</a></p>
                    <p><a href="#" class="products-item__link">View menus</a></p>
                </div>
            </div>
            <div class="products__column">
                <div class="products-item">
                    <a href="#" class="products-item__image ibg">
                        <img src="static/products/02.jpg" alt="Product 2">
                    </a>
                    <a href="#" class="products-item__title">Private
                        catering</a>
                    <div class="products-item__text">Fresh, seasonal and simple
                        cuisine. Food is our business and our passion.
                    </div>
                    <p><a href="#" class="products-item__btn btn">Get a quote</a></p>
                    <p><a href="#" class="products-item__link">View menus</a></p>
                </div>
            </div>
            <div class="products__column">
                <div class="products-item">
                    <a href="#" class="products-item__image ibg">
                        <img src="static/products/03.jpg" alt="Product 3">
                    </a>
                    <a href="#" class="products-item__title">Wedding
                        catering</a>
                    <div class="products-item__text">We use only the best organic ingredients and gluten and dairy free cooking.
                    </div>
                    <p><a href="#" class="products-item__btn btn">Get a quote</a></p>
                    <p><a href="#" class="products-item__link">View menus</a></p>
                </div>
            </div>
            <div class="products__column">
                <div class="products-item">
                    <a href="#" class="products-item__image ibg">
                        <img src="static/products/04.jpg" alt="Product 4">
                    </a>
                    <a href="#" class="products-item__title">Online
                        Ordering</a>
                    <div class="products-item__text">Successful catering is about organisation, high quality
                        service, and great food.
                    </div>
                    <p><a href="#" class="products-item__btn btn">Get a quote</a></p>
                    <p><a href="#" class="products-item__link">View menus</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
