<div class="private">
    <div class="private__column">
        <div class="private__image ibg">
            <img src="/static/private/01.jpg" alt="private catering">
        </div>
    </div>
    <div class="private__column">
        <div class="private-body">
            <div class="private-body-content">
                <div class="private-body__title">Private <br>catering</div>
                <div class="private-body__text">Treat your guests to a beautifully plated dinner, hand-crafted
                    canapes or a casual BBQ.
                </div>
                <div class="private-body-buttons">
                    <a href="#" class="private-body-buttons__item btn btn--w">Get a quote</a>
                    <a href="#" class="private-body-buttons__link">View menus</a>
                </div>
            </div>
        </div>
    </div>
</div>
