@import "scss/mixin";
@import "fonts";
@import "scss/variables";
@import "scss/normalize";

.btn {
  height: 50px;
  line-height: 50px;
  background-color: black;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: Bebas, serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.5px;

  &--w {
    background-color: #ffffff;
    color: #000000;
  }

  &:hover {
  }

  &.fw {
    width: 100%;
  }
}

input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 18px;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;

  &.focus {
  }

  &.err {
    border: 2px solid red;
  }
}

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px;

}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    display: none;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {
  }
}

.container {
  max-width: $mw+px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 750px;
  }
  @media (max-width: $md2+px) {
    max-width: none;
    padding: 0 10px;
  }
}

@import "components/share/header/header.component";
@import "components/private/pricate.component";
@import "components/products/products.component";
@import "components/why/why.component";
@import "components/contacts/contacts.component";
