@import "scss/variables";
@import "scss/mixin";

.contacts{
  padding: 80px 0 0 0;
  @media (max-width: $md2+px) {
    padding: 30px 0 0 0;
  }
  &__title{
    font-family: AkzidenzGroteskBQCondensedBold, serif;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0 0 30px 0;
  }
}
.contacts-body{
  @include flex-box();
  flex-wrap: wrap;
  .contacts-body__item{
    font-size: 15px;
    color: #000000;
    display: inline-block;
    line-height: 27px;
    padding: 0 0 0 35px;
    &--1{
      background: url("static/contacts/icons/01.svg") left no-repeat;
    }

    &--2{
      background: url("static/contacts/icons/02.svg") left no-repeat;
    }
    &--3{
      background: url("static/contacts/icons/03.svg") left no-repeat;
    }
  }

  &__column{
    flex: 0 0 50%;
    margin: 0 0 20px 0;
    @media (max-width: $md2+px) {
      flex: 1 1 100%;
    }
  }
}


.contacts-social{
  @include flex-box();

  &__item{
    margin: 0 30px 0 0;
    &:last-child{
      margin: 0;
    }
  }
}

.contacts-content{
  @include flex-box();
  background-color: #000000;

  &__column{
    flex: 0 0 50%;
  }
  &__map{
    height: 100%;
    @media (max-width: $md3+px) {
      height: 300px;
    }
  }

  @media (max-width: $md3+px) {
    display: block;
  }
}
.contacts-content-form{
  padding: 55px 60px;

  @media (max-width: $md2+px) {
    padding: 30px;
  }
  &__title{
    font-family: AkzidenzGroteskBQCondensedBold, serif;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
    margin: 0 0 30px 0;
  }
}
.contacts-content-form-body{
  max-width: 375px;
  @media (max-width: $md2+px) {
    max-width: none;
  }
}
.contacts-content-form-line{
  margin: 0 0 25px 0;
}
